*{
    box-sizing: border-box;
}

@font-face {
    font-family: basketball;
    src: url(CursedTimerUlil-Aznm.ttf);
}

body{
   font-family: basketball;
   background-color: #0C4A6E ;
   display: flex;
   align-items: center;
   justify-content: center;
   height: 100vh;
}

#score-area{
    display: flex;
    max-width: 575px;
    justify-content: space-around;
    width: 100%;

}

.score{
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: center;
}

.team{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: #ffffff;
    font-weight: 700;
    font-size: 2.5rem;
}

.total{
    background-color: black;
    color: #F94F6D;
    font-size: 5.6rem;
    text-align: center;
    margin-top: 1.5rem;
    padding: 1rem 2rem;
    border-radius: 1rem;
    max-width: 155px;
    width: 100%;
}

.score-options{
    display: flex;
   justify-content: center;
    width: 100%;
    margin-top: 1rem;
}

.score-num{
    border: 3px solid #7DD3FC;
    font-family: inherit;
    background-color: #0C4A6E;
    color: #7DD3FC;
    padding: 0.7rem;
    border-radius: 0.4rem;
    margin-left: 0.3rem;
    margin-right: 0.3rem;
}